language: r
r:
 - release
 - devel
cache: packages
cran: https://cran.rstudio.com/

before_install:
 - tlmgr install psfrag
 - echo "options(repos = c(CRAN='https://cran.rstudio.com'))" >> ~/.Rprofile
 - sudo apt-get --yes --force-yes update -qq
 - sudo apt-get install --yes libudunits2-dev libproj-dev libgeos-dev libgdal-dev libprotobuf-dev protobuf-compiler libv8-3.14-dev libjq-dev

r_binary_packages:
  - Rcpp
  - RcppArmadillo
  - geosphere
  - raster
  - doParallel
  - MASS
  - car
  - ggplot2
  - mitools
  - mvtnorm
  - Brobdingnag
  - dplyr
  - lubridate
  - nleqslv
  - numDeriv
  - foreach
  - survival
  - prodlim
  - magrittr
  - doRNG
  - scatterplot3d
  - RColorBrewer
  - tmvtnorm
  - extraDistr
  - rlang
  
services:
  - xvfb
 
r_build_args: --compact-vignettes="gs+qpdf"

r_check_args: --as-cran

addons:
  apt:
    packages: 
      - ghostscript
      - tcl8.5-dev
      - tk8.5-dev